<div class="container">
  <p>
    © 2022 Kakao Productions. All rights reserved. |
    <a href="/impressum" class="link">Impressum</a> |
    <a href="/datenschutz" class="link">Datenschutz</a>
  </p>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    margin: 3em;
  }

  .link {
    color: #b5895d;
  }
</style>
