---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kakao Productions" page="home">
	<h1>Von mir editiertes Videomaterial</h1>

	<div class="playlist">
		<iframe
			width="560"
			height="315"
			src="https://www.youtube.com/embed/videoseries?list=PLlzi6dnDDoa1PkTjsMGcL2JzkZtyoFBJe"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		>
		</iframe>
	</div>
</Layout>

<style>
	h1,
	h2,
	h3 {
		text-align: center;
		margin: 1em;
	}

	.playlist {
		display: flex;
		justify-content: center;
	}
</style>
