---
import Layout from "../layouts/Layout.astro";
const SocialMedia = ["Twitch", "YouTube", "TikTok"];
---

<Layout title="Links" page="links">
    <!--
	<ul>
		{SocialMedia.map((SocialMedia) => <li>{SocialMedia}</li>)}
	</ul>
	-->
</Layout>
