---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Über mich" page="about">
  <div>
    <h2>Über mich</h2>
    <p>
      Ich studiere aktuell Medientechnologie an der Technischen Universität
      Ilmenau im Bachelor und bin nebenbei als Kleinunternehmen tätig. Dieses
      Unternehmen namens Kakao Productions habe ich anfang 2021 gegründet und
      beschäftige mich hauptsächlich mit der Videoproduktion, erarbeite aber
      auch Grafiken oder Webseiten wie diese. Referenzen dafür finden Sie in
      meinem Portfolio auf der Startseite. Praktische Erfahrung sammel ich
      außerdem während meiner Werkstudentenanstellung in der Post Produktion der
      Werbeagentur
      <a href="https://videobeat.net">Videobeat</a> und als Video Editor für den
      YouTube Kanal <a href="https://www.youtube.com/@RvNxMango">RvnxMango</a>.
      Alles weitere habe ich mir selbst beigebracht in meiner Freizeit.
    </p>
    <h2 class="absatz">Kontakt</h2>
    <p>
      Sollten Sie weitere Fragen an mich haben, kontaktieren Sie mich gern über
      meine <a href="mailto:kakaostream@gmail.com">Email-Adresse</a>.
    </p>
  </div>
</BaseLayout>

<style>
  div {
    margin: 2em;
  }
  .absatz {
    margin-top: 3em;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
