---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout page="home">
  <h1>Von mir editiertes Videomaterial</h1>

  <div class="portfolio">
    <div class="container" id="videos"></div>
  </div>
</BaseLayout>

<style>
  h1,
  h2,
  h3 {
    text-align: center;
    margin: 1em;
  }

  .playlist {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .portfolio {
    background-color: #dbac7e;
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
  }
</style>

<script>
  var json = [
    {
      title: "Müller Spielzeugtester:innen | DINGSDA Folge 7",
      id: "0ocAcvaX4Xw",
    },
    {
      title: "Der Müller Spielwarenkatalog ist da!",
      id: "ZA-cZTMAdOA",
    },
    {
      title: "How to: Resilienz stärken, Grenzen überwinden I Jonas Deichmann",
      id: "UZEjQpMiGvw",
    },
    {
      title:
        "Empfehlungen & Life-Hacks zum Thema Bikepacking I Jonas Deichmann",
      id: "PlOO8kE96sc",
    },
    {
      title: "Spannendes Jungle Matchup",
      id: "l8X-i_P3vVY",
    },
    {
      title: "Bel'Meth",
      id: "0xpn1NUehmI",
    },
    {
      title: "Das Beste Game, von dem du noch nie gehört hast",
      id: "yAN22yt6DC0",
    },
    {
      title: "Haben meine CS GO Skin Investments GEWINN gemacht?",
      id: "gOJRNFGzdiI",
    },
    {
      title: "Mein letzter Atemzug",
      id: "md7fR0ID2fU",
    },
    {
      title: "Voice Chat in League?",
      id: "539fm77ghpY",
    },
    {
      title: "GEBANNT wegen Mario Kart...",
      id: "YmmvMi2LO6E",
    },
    {
      title: "Voicechat in League of Legends",
      id: "9984tsgl-EI",
    },
    {
      title:
        "Ich habe 3000€ in CS GO Skins investiert, damit ihr es nicht macht",
      id: "XpjXDXll6Rc",
    },
    {
      title: "Wegen letztem Jahr...",
      id: "SR6k7lbzXPk",
    },
    {
      title:
        "Rainbow Six, aber es ist mit Aliens und so (R6 Extraction mit @Dhalucard & @JostRekt)",
      id: "Ch6eWV9SrB8",
    },
    {
      title: "Peter hat mich hübsch genannt",
      id: "22QrqZ3TBYg",
    },
    {
      title: "PERFEKTE ZUSAMMENARBEIT in It Takes Two mit @MahlunaYT",
      id: "cSjDehaieno",
    },
    {
      title: "Mit dem Item wärs in Arcane besser gelaufen...",
      id: "Fa79Ae0TLas",
    },
    {
      title: "Danke Season 12",
      id: "wqVManoQdi8",
    },
    {
      title: "Miiiiiese Backpfeife",
      id: "CTYXy9WDenA",
    },
    {
      title: "Das Rennen des Jahrhunderts",
      id: "6TxPFzEPwP4",
    },
    {
      title: "Was ist denn mit denen kaputt?",
      id: "t-7WRCWZXsc",
    },
    {
      title: "Dieser 24H Stream war ANDERS...",
      id: "QF0TsHw-88U",
    },
    {
      title: "Warum eigentlich nicht...",
      id: "DJluYImHE0c",
    },
    {
      title: "Sie will ihren Mod Status zurück...",
      id: "84vsKKM1VUg",
    },
    {
      title: "Einfach Aimhack in der Battlefield Beta lmao",
      id: "2x_Id5_Bh3M",
    },
    {
      title: "SIE. HABEN. MICH. GEBROCHEN.",
      id: "vF7TBTiZNpI",
    },
    {
      title: "Meine Videos sind NICHT MEHR MONOTON GENUG...",
      id: "zfZBMSOIXf0",
    },
    {
      title: "Geht's Mango gut?",
      id: "izCNzRpmwCE",
    },
    {
      title: "1.2 MILLIONEN PUNKTE MASTER YI spielt Fakers 2015 Build",
      id: "ba2cdb0rry0",
    },
    {
      title: "WER HAT SICH DAS AUSGEDACHT???",
      id: "j4LkAWd0Sns",
    },
    {
      title: "Mango vs Maxim vs Sterzik vs Dhalucard | Riders Republic",
      id: "XP2J_GB5MHw",
    },
    {
      title: "Mit DIESEN TRICKS ist die Schandstadt kein Problem",
      id: "es6iDSmk2Ew",
    },
    {
      title: "Hey Dark Souls, WAS SOLL DAS???",
      id: "q3m1vEyGH6s",
    },
    {
      title: "Wie ist DAS denn jetzt passiert...",
      id: "NA0MQwmsDXA",
    },
    {
      title: "DAS passiert wenn man AD Yi nerft | #MemesMitMango",
      id: "x8CzE28_jP8",
    },
    {
      title: "24 Stunden nur Kha'Zix spielen",
      id: "EF-iaIMacGw",
    },
    {
      title: "Das hat sie nicht gesagt...",
      id: "RecgXStnrNg",
    },
    {
      title: "ALLES auf Deutsch - Kali (Rainbow Six: Siege)",
      id: "8zMD12SBZPU",
    },
    {
      title: "Rainbow Six Siege, aber es ist CS GO | #MemesMitMango",
      id: "BKXAD_VG2mw",
    },
    {
      title: "Master Yi, aber mit einem Guide von 2015 | #MemesMitMango",
      id: "K9rfWftVT4w",
    },
    {
      title: "Hey Riot, warum nerfed ihr AD Yi? | #MemesMitMango",
      id: "uC-miFK-Mgo",
    },
    {
      title: "VALORANT spielen als wenn es CS GO wäre | #MemesMitMango",
      id: "JXpgUR0Mse8",
    },
    {
      title:
        "Master Yi, aber mit Riots empfohlenem Build von 2012 | #MemesMitMango",
      id: "cRnabAQ1DQQ",
    },
    {
      title: "ALLES auf Deutsch - Valorant",
      id: "c4mU7Q2mdbQ",
    },
    {
      title: "Midlane queuen in 2021 | #MemesMitMango",
      id: "LGGSqrQyRvs",
    },
    {
      title: "WIE VIELE HEAVEN GUARDS??? || Straße zur Welt",
      id: "82YDEIe7RrE",
    },
    {
      title: "ALLES auf Deutsch - Overwatch",
      id: "9auKPFLLHDE",
    },
    {
      title:
        "Mit KLEINEN STREAMERN den Sinn des Lebens finden | League of Legends Philisophen",
      id: "l-xALVqI1oM",
    },
    {
      title: "1v1s mit VERTAUSCHTEN TASTEN | #MemesMitMango",
      id: "OaeoBziAKs4",
    },
    {
      title: "M&U #Blitzrückseiten || Apex Legends",
      id: "IBzQxp4CaCQ",
    },
    {
      title: "ALLES auf Deutsch - Regenbogen Sechs: Belagerung",
      id: "7hiH2EX61Vs",
    },
    {
      title:
        "Wenn die Gegner VERSUCHEN mich zu STREAMSNIPEN... | #MemesMitMango",
      id: "37w1gK-w_7o",
    },
    {
      title: "NEUER REKORD beim LoL Speedrun",
      id: "iNC1tdazAh8",
    },
    {
      title: "ALLES auf Deutsch - Counter Strike Global Offensive",
      id: "_nIGgundn7k",
    },
    {
      title: "Ich werde zum besten Speedrunner in League of Legends",
      id: "1I5q-Dea9QQ",
    },
    {
      title: "Ich TESTE das LoL Wissen von KLEINEN STREAMERN",
      id: "C2ObUNxErZQ",
    },
    {
      title: "MISPLAY = BROKEN FANG CASE öffnen || Straße zur Welt",
      id: "hHDKttAhJQM",
    },
    {
      title: "USAIN BOLT LEAGUE | #MemesMitMango",
      id: "jWWyW6FDyXQ",
    },
    {
      title: "5v5 aber mit Season 11 MEME BUILDS | #MemesMitMango",
      id: "RNw9h2T3NMs",
    },
    {
      title: "League of Legends ohne HUD aber mit @MahlunaYT | #MemesMitMango",
      id: "EQc-RAeNrHs",
    },
    {
      title: "Sterzik und Mango begehen Gewaltverbrechen | #MemesMitMango",
      id: "axOXeoG_kjg",
    },
    {
      title:
        "Burn the Witch: Crunchyroll-Releasedatum offiziell angekündigt | Anime-News #126",
      id: "RvUaf5KHVxc",
    },
    {
      title: "The Last of us 2 Stream Highlights | Wailam",
      id: "jrIctyi3Y0E",
    },
    {
      title: "Reved Detroit Become Human Stream Highlight #2",
      id: "Cil1FJt-FJk",
    },
    {
      title: "Reved Detroit Become Human Stream Highlight #1",
      id: "WgHhLyEEwRk",
    },
    {
      title:
        "Neuer Anime der Angel Beats!-Macher angekündigt! – The Day I Became a God | Anime-News #121",
      id: "b7CURAiJRJg",
    },
    {
      title: "Studio Orange – Die Entstehung eines Branchenprimus | Touzai",
      id: "gnFeeQsNf5w",
    },
    {
      title:
        "Noch mehr Action in der 5. Staffel My Hero Academia! | Anime-News #119",
      id: "BbNRB0M0XQw",
    },
    {
      title: "HeyJu - gönn dir das mal (Bewerbung 2) | Paul v2",
      id: "ohhQ_S32WDE",
    },
    {
      title: "HeyJu - gönn dir das mal (Bewerbung 2) | Paul",
      id: "D8AYTidF3hM",
    },
  ];

  buildPortfolio(json);

  function buildPortfolio(json) {
    var listDiv = document.getElementById("videos") as HTMLElement;
    var ul = document.createElement("ul");

    for (var i = 0; i < json.length; ++i) {
      var li = document.createElement("li");
      var video = `<a href="https://www.youtube.com/watch?v=${json[i].id}">
          <img
            style="height: 100px; width: 178px;"
            src="https://img.youtube.com/vi/${json[i].id}/maxresdefault.jpg"
            alt=""
          />
        <a/>`;
      li.innerHTML = video; // Use innerHTML to set the text
      li.style.float = "left";
      li.style.margin = "15px";
      ul.appendChild(li);
    }
    ul.style.display = "inline-block";
    listDiv.appendChild(ul);
  }
</script>
