---
import VideoList from "../components/videos/VideoList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout page="home">
  <h1 class="title">Von mir editiertes Videomaterial</h1>

  <div class="portfolio">
    <VideoList />
  </div>
</BaseLayout>

<style>
  .title {
    text-align: center;
    margin: 1em;
  }

  .portfolio {
    background-color: #dbac7e;
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
  }
</style>
