---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Links" page="links">
  <!--
	<ul>
		{SocialMedia.map((SocialMedia) => <li>{SocialMedia}</li>)}
	</ul>
	-->
</BaseLayout>
