---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<li class="video">
  <div class="title">{title}</div>
  <a href={`https://www.youtube.com/watch?v=${id}`} target="_blank">
    <img
      height="100%"
      width="100%"
      class="thumbnail"
      src={`https://img.youtube.com/vi/${id}/maxresdefault.jpg`}
      alt={title}
    />
  </a>
</li>

<style>
  .thumbnail {
    object-fit: cover;
  }

  .video {
    height: 100px;
    width: 178px;
    margin: 15px;
    border-radius: 7px;
    overflow: hidden;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
      drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    position: relative;
  }

  .video:hover {
    scale: 2;
    z-index: 20;
    transition: scale 0.3s ease-in-out;
  }

  .title {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #55555588;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video:hover .title {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
</style>
