---
import "../styles/global.css";
import Header from "../components/Header.astro";

export interface props {
    title?: string;
}

const { title = "Kakao Productions" } = Astro.props as props;
const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
        <style>
            body {
                height: 100vh;
                background: linear-gradient(to top, #ffddb5, #fff0de);
            }
        </style>
    </head>
    <body>
        <Header page={page} />
        <slot />
    </body>
</html>
